{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jasmine": true
  },
  "globals": {
    "sinon": true
  },
  "rules": {
    "curly": 2,
    "complexity": [2, 15],
    "no-unused-vars": 1,
    "no-empty": 1,
    "strict": [2, "global"],
    "no-undef": 2,
    "quotes": [2, "single", "avoid-escape"],
    "no-loop-func": 1,
    "comma-dangle": [2, "never"],
    "semi": [2, "always"],
    "space-after-keywords": 1,
    "valid-typeof": 2,
    "max-nested-callbacks": [1, 3]
  }
}
